/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ margin: 0; padding: 0; border: none; outline: 0; }

/* rs carousel */
#rs-carousel .rs-carousel-mask { border: 0;}
#rs-carousel ul li { width: 100px; height: 100px; list-style: none; cursor: pointer; border: 5px solid lightgray; padding: 5px; margin-right: 1em; overflow: hidden; }
.bg_nav_1 { background-color: #F0FCFF;}
.bg_nav_2 { background-color: #EBFFF6;}
.bg_nav_3 { background-color: #FFFFCC;}
.bg_nav_4 { background-color: #FFF5EB;}
.bg_nav_5 { background-color: #F8F0FF;}
#rs-carousel ul li.active    {  border: 5px inset orange;}
.nav-arrow { float: left; height: auto; width: 4%; font-size: 3em; font-weight: 900; cursor: pointer; }
var { font-style: normal;}
.nav_head { display: block; text-align: center; font-weight: bolder; margin-bottom: 0.7em; }
#rs-carousel ul li div {  text-align: right; }